{{>admin-navbar}}

<main style="margin-top: 58px">
    <div class="container pt-4">
        <h2>Add Category</h2>
        <form class="row row-cols-lg-auto g-3 catform" method="post" action="/admin/category/add" enctype="multipart/form-data">
            <div class="col-12">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">Category Name</label>
                <div class="input-group">
                    <div class="input-group-text" >Name</div>
                    <input type="text" class="form-control"  name="name" id="Catname" placeholder="Category "/>
                </div>
                <!-- File Button -->
                <div class="form-group row mt-2">
                    <label class="col-md-4 control-label" for="filebutton">main_image</label>
                    <div class="col-md-4">
                        <input multiple="multiple" type="file" id="file " name="file" class="input-file"></div>
                    </div>
                    <!-- File Button -->

                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>

                </form>
                <div id="errormessage" style="display: none;"><p style="color: red;">{{message}}</p></div>
            </div>
        </main>

 <script src="/category.js"></script>