{{>admin-navbar}}
<main style="margin-top: 58px">
    <div class="container pt-4">
        <form action="/admin/products/addProducts" method="post" class="form-addProducts" enctype="multipart/form-data">
            <fieldset>
               <!-- Form Name -->
                <legend>ADD PRODUCTS</legend>


                <!-- Text input-->
                <div class="form-group row mt-1">
                    <label class="col-md-4 control-label" for="product_name" >PRODUCT NAME</label>
                    <div class="col-md-4">
                        <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md" type="text">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group row mt-1">
                    <label class="col-md-4 control-label" for="category">CATEGORY NAME</label>
                    <div class="col-md-4">
                        <select class="form-select" name="category">
                            <option value="value" selected>Choose Category</option>
                            {{#each category}}
                            <option class="text-success" value="{{_id}}" name="category" id="category" >{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group row mt-1">
                    <label class="col-md-4 control-label" for="highlisghts">HIGHLIGHTS</label>
                    <div class="col-md-4">
                        <input id="highlights" name="highlights" placeholder="Product Feature" class="form-control input-md" type="text">

                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group row mt-1">
                    <label class="col-md-4 control-label" for="price">PRICE</label>
                    <div class="col-md-4">
                        <input id="price" name="price" placeholder="PRODUCR PRICE" class="form-control input-md" type="text">

                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group row mt-1">
                    <label class="col-md-4 control-label" for="product_size">PRODUCT SIZE</label>
                    <div class="col-md-4">
                        <input id="product_size" name="product_size" placeholder="PRODUCT SIZE" class="form-control input-md" type="text">

                    </div>
                </div>


                <!-- Text input-->
                <div class="form-group row mt-1">
                    <label class="col-md-4 control-label" for="available_quantity">INVENTORY</label>
                    <div class="col-md-4">
                        <input id="inventory" name="inventory" placeholder="INVENTORY" class="form-control input-md" type="text">

                    </div>
                </div>


                <!-- Textarea -->
                <div class="form-group row mt-1">
                    <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="product_description" name="description"></textarea>
                    </div>
                </div>


                <!-- Text input-->
                <div class="form-group">
                    <div
                        class="col-md-4">

                        <!-- File Button -->
                        <div class="form-group row mt-2">
                            <label class="col-md-4 control-label" for="filebutton">main_image</label>
                            <div class="col-md-4">
                                <input multiple type="file" id="file " accept=".jpg,.jpeg,.png" name="file" class="input-file"   >
                            </div>
                        </div>

                        <!-- File Button -->
                {{#if message}}
                <div id="prodmessage" style="display: none;"><p style="color: red;">{{message}}</p></div>
                {{/if}}



                    </fieldset>
                    <!-- Button -->
                    <div class="form-group text-center mt-3">
                        <div class="col-md-4">
                            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Add Product</button>
                        </div>
                    </div>
                </form>

            </div>
        </main>
