{{>admin-navbar}}

  <main style="margin-top: 58px">
    <nav class="navbar navbar-light bg-light">
            <a href="/admin/addCategories" class="add-btn my-0 my-sm-0">
                <button>Add Categories</button>
            </a>
    </nav>
    <div class="container pt-4">
        <table class="table" id="catTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Category Name</th>
                    <th scope="col ">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each category}}
                <tr>
                    <td>{{name}}</td>
                    <td class="text-center">
                        <ul class="d-flex justify-content-left p-0" style="list-style-type: none;">
                            <li class="px-lg-0">
                                <button  class="btn btn-sm btn-danger delete-cat" name="delete-cat" id="delete" data-url={{_id}}>Delete</button>
                            </li>
                        </ul>
                    </td>
                </tr>
                {{/each}}
            </tbody>

            </div>
        </main>
