  {{>user-header}}
  
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Sign In</h2>

              <form onSubmit="return validatelogin()" action="/signin" method="post" id="forml">

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="text" id="Emaill" class="form-control border" name="email"/>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" id="Passwordl" class="form-control border" name="password" />
                </div>
                <div class="error" style="color: red;"></div>
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"><a style="color: #ffff;">Sign In</a></button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Don't have an account!<a href="/signUp"
                    class="fw-bold text-body"><u>Sign Up </u></a></p>
               <div class="error" style="color: red;">{{errMessage}}</div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
