
  .gradient-custom-4 {
  /* fallback for old browsers */
  background: #190b4a;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(31, 10, 79), rgb(27, 20, 83));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(18, 16, 84), rgb(20, 94, 130))
  }




  body {
    overflow-x: hidden;
    width: 100vw;

  }
  body::-webkit-scrollbar {
    width: 0em;
  }
  
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
    padding-left: 250px;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  
  
  /* Sidebar Styles */
  
  body {
    background-color: #fbfbfb;
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }



  /* ////////////////// */

  .carousel-item {
    height: 50vh;
  }
.card {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer-cta {
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.price {
color: #263238;
font-size: 24px;
}

.card-title {
color:#263238
}

.sale {
color: #E53935
}

.sale-badge {
background-color: #E53935
}

#title{
  padding-left: 5px;
  padding-right: 5px;
  padding: 20px;
  margin: 20px;
  margin-right: 255px;
  margin-left: 255px;
  background-color: #000;
}
.card-img-top.img-fluid {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.img-fluid {
  width: 100%;
  /* border: 1px red solid; */
  height: 10vw;
}


/*shop products*/
.allProducts{
  height: 22vh;
  background-color: rgb(95, 94, 94);
}



/* .shadow-3d {
  padding: 10px;
  box-shadow: px 10px 20px #ccc;
  color: white;

}

.transform-3d {
  transform: rotateX(5deg) rotateY(3deg);
} */

/* Glow*/
.glow {
  font-size: 50px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4a3cb6, 0 0 40px #325ddc, 0 0 50px #382ec8, 0 0 60px #3b19a4, 0 0 70px #1830b4;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3a2dc5, 0 0 40px #3f3ac5, 0 0 50px #442dd7, 0 0 60px #641187, 0 0 70px #431888, 0 0 80px #ff4da6;
  }
}


/*shop products shop page cards*/
.product_section .heading_container {
  margin-bottom: 20px;
}

.product_section .box {
    position: relative;
    margin-top: 25px;
    padding: 35px 35px;
    background-color: #f7f8f9;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    box-shadow: 5px 5px 5px -5px rgba(0,0,0,.2);
    border: solid #fff 10px;
}

.product_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
}

.product_section .box .img-box img {
  max-width: 100%;
  max-height: 160px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .box .detail-box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_section .box .detail-box h5 {
  font-size: 18px;
  margin-top: 10px;
}

.product_section .box .detail-box h6 {
  margin-top: 10px;
  color: #002c3e;
  font-weight: 600;
}

.product_section .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product_section .box:hover .option_container {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.arrival_section {
    background-color: #d4ced0;
}
.product_section .option_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.product_section .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_section .options a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 30px;
  width: 165px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 5px 0;
}

.product_section .options .option1 {
  background-color: #f7444e;
  border: 1px solid #f7444e;
  color: #ffffff;
}

.product_section .options .option1:hover {
  background-color: transparent;
  color: #f7444e;
}

.product_section .options .option2 {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}

.product_section .options .option2:hover {
  background-color: transparent;
  color: #000000;
}

.product_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.product_section .btn-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #f7444e;
  border: 1px solid #f7444e;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product_section .btn-box a:hover {
  background-color: transparent;
  color: #f7444e;
}


/*Address form */

.address-form{
  width: 20vw;
}

.address-form-body{
  width: 43vw;
}

#addressButton{
  background-color: #3b0aec;
  color: white;
}
.exaddress{
  margin-left: 6.5vw;
}


/*modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* //sidebar button */

.sidebar-button {
  display: block;
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.sidebar-button:hover {
  background-color: #ccc;
}